:root {
    --base-color: #0FBE94;
    --base-color-medium-light:#5ADCB9;
    --base-color-light: #ebfaf7;
    --border: #7DE6CA;
    --font-color: #192658;
    --text: #192658;
    --link: #192658;
    --visited: #192658;
    --font-color-disable: #777777;
    --font-reverce: white;
    --background: white;
    --base-color-background: #7DE6CA;
    --base-color-gray: #F2F2F2;
    --caution: #FF2A61;
    --info: #4fb0ff;
    --priority: #f68415;
    --gray-out: #99A0BA;
    --light-gray-out: #CED2DF;
    --max-width-outer: 1080px;
    --max-width-inner: 640px;
    --max-width-image: 480px;
    --border-radius: 2px;
}

header>h1, header>h2 {
     margin-left: 0;
}

.font-color {
    color: var(--font-color);
}

.w-outer {
    max-width: var(--max-width-outer);
}

.w-inner {
    max-width: var(--max-width-inner);
}

.w-image {
    max-width: var(--max-width-image);
}

.l-foot .link-top {
    position: absolute !important;
}

.l-foot .category > li,
.l-foot .utility > li {
    font-size: 14px;
}

.pc {
    min-width: 300px;
}

.pc .l-foot .category > li {
    font-size: 18px;
}



.pc .l-foot .utility > li {
    font-size: 16px;
}

html {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--background);
    color: var(--font-color);
}

.user-selectable {
    user-select: text;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    background: none;
}

.font-weight-thin {
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header, footer {
    box-shadow: none;
    margin: 0;
    padding: 0;
}

p.logo {
    /*background-color: white;*/
}

hr {
    width: 95%;
    background-color: var(--border);
    border-width: 1px;
    margin: 1rem 0;
}

section {
    max-width: none;
}

.splide {

}

.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: none !important;
}

.splide__arrow {
    background: none !important;
    display: contents !important;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.splide__pagination__page.is-active {
    background-color: var(--base-color) !important;

}


.pe-none {
    pointer-events: none;
}